/*
 * @NOTE: Prepend a `~` to css file paths that are in your node_modules
 *        See https://github.com/webpack-contrib/sass-loader#imports
 */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');

body {
  background: linear-gradient(#5bfe2a -29.09%, #2c419e 129.35%);
  font-family: 'Noto Sans JP', sans-serif;
  justify-content: center;
}
